<!doctype html>
<html lang="en" ng-app="phonecatApp"> <!-- ng-app designates the root element, in this case the <html> tag. https://docs.angularjs.org/api/ng/directive/ngApp -->
  <head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="lib/angular/angular.js"></script> 
    <script src="app.js"></script>
  </head>

  <body ng-controller="PhoneListController">

    <ul>
      <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
      </li>
    </ul>

    <p>total number of phones: {{phones.length}}</p>

    <p>Hello, {{ name }}!</p>

    8x8 Table 
    <table>
      <tr>
        <th ng-repeat="i in [0,1,2,3,4,5,6,7]">Row#{{i+1}}&nbsp;&nbsp;</th>
      </tr>
      <tr ng-repeat="i in [0,1,2,3,4,5,6,7]">
        <td ng-repeat="j in [0,1,2,3,4,5,6,7]">({{i}},{{j}})</td>
      </tr>
    </table>

  </body>

</html>

<!-- === During bootstrap 3 things happen ===
      1. The $injector is created. This retrieves objecst defined by $provide
          $provide is a service the registers components for $injector

          service <--- service factory <--- service providers (constructor functions, contains $get)

          when requesting service, $injector finds the correct service provider and calls its $get
          service factory function to get the exact instance of service

      2. The $injector creates the root scope 

      3. AngularJS will compile the document starting at npApp root element

    === After bootstrap ===
    The DOM will wait for browser events (mouse clicks, key presses, HTTP responses) and if 
    angular detects the this event changes the model the affected bindings will be updated.

    https://github.com/angular/angular-seed 
    Provides a template for an Angular project
-->